body {
    background-color: #f4f6f9;
}

.card {
    border-radius: 15px;
}

.auth-card {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.w-45 {
    width: 45%;
}